<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart - Retrospect Apparel Co.</title>

    <!-- STYLE LINKS -->
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,500,700|Source+Code+Pro:400,700;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat%3Ai%2Cbi%2C700%2C400display=swap" rel="stylesheet" nonce="">
    <link href="https://cdjns.cloudfare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/679532c273.js" crossorigin="anonymous"></script>
    
    <!-- ICON -->
    <link rel="icon" href="images/retrospect-icon.png" type="image/png">
</head>
<body>
    <!-- NAVBAR -->
    <% if(username){%>
    <%- include ('partials/user-navbar') %>
    <%} else{ %>
    <%- include ('partials/navbar') %>\
    <%} %>  

    <!-- MAIN CONTENT -->
    <section class="SCart">
        <div class="main_SCart">
            <h1>Shopping Cart</h1>
                <div class="project">
                    <div class="shop">
                        <% let total_price = 0;%>
                        <% cart_items.forEach((cart_item) => { %>
                        <%      cart_item.items.forEach((item) => {%>
                                    <!-- Items -->
                                    <div class="box">
                                        
                                        <img class="cart-item-img" src="/images/<%= item.item_photo %>" alt="">
            
                                        <div class="content">
                                            <h3><%= item.item_name %></h3> <!-- NAME OF PRODUCT-->
                                            <h4>Price: <%= item.price %></h4> <!-- PRICE OF PRODUCT-->
                                            <p class="unit">Size: <%= item.size %></p>
                                            <p class="unit">Quantity: <%= item.quantity %> </p> <!-- HOW MANY THE USER WANTS TO BUY -->
                                            
                                            <p class="btn-area">
                                                <i class="fa fa-trash"></i>
                                                <a href="/delete-item/<%=cart_item.username%>/<%= item.item_name%>/<%= item.size%>" class="btn2">Remove</a> <!-- REMOVE PRODUCT -->
                                            </p>
                                        </div>
                                    </div>
                        <%          total_price += (item.quantity * item.price);%>
                        <%      }); %>
                        <% }); %>
                </div>
        </div>
        <div class="right-bar">
            <p><span>Subtotal</span> <span>PHP <%= total_price %></span></p>
            <hr>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i>Checkout</a>
        </div>
    </section>
    
    
    <main>
        <!-- FOOTER -->
        <%- include('partials/footer-links') %>   
    </main>
        
</body>
</html>
